[submodule "projects/Gibbed.ProjectData"]
	path = projects/Gibbed.ProjectData
	url = https://github.com/gibbed/Gibbed.ProjectData.git
	branch = main
[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options.git
	branch = main
[submodule "projects/Gibbed.Memory"]
	path = projects/Gibbed.Memory
	url = https://github.com/gibbed/Gibbed.Memory.git
	branch = main
[submodule "configs/Dragon's Dogma 2 Character Creator & Storage/files"]
	path = configs/Dragon's Dogma 2 Character Creator & Storage/files
	url = https://github.com/gibbed/DD2CCS-File-Lists.git
	branch = main
